In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dataset/employee.csv
/kaggle/input/dataset/movie.csv

**Pandas challenge questions**

In [2]:
#import packages
import numpy as np
import pandas as pd

In [3]:
# import data set
employee = pd.read_csv(r"/kaggle/input/dataset/employee.csv")
movie = pd.read_csv(r"/kaggle/input/dataset/movie.csv")

In [4]:
employee.head()

,title,dept,salary,race,gender,hire_date
0,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Male,2015-02-03
1,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Male,1982-02-08
2,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black,Male,1984-11-26
3,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian,Male,2012-03-26
4,CARPENTER,Houston Airport System (HAS),42390.0,White,Male,2013-11-04

In [5]:
movie.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [6]:
employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1653 non-null   object
 1   dept       1653 non-null   object
 2   salary     1551 non-null   float64
 3   race       1633 non-null   object
 4   gender     1653 non-null   object
 5   hire_date  1653 non-null   object
dtypes: float64(1), object(5)
memory usage: 77.6+ KB

In [7]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            4916 non-null   object
 1   year             4810 non-null   float64
 2   color            4897 non-null   object
 3   content_rating   4616 non-null   object
 4   duration         4901 non-null   float64
 5   director_name    4814 non-null   object
 6   director_fb      4814 non-null   float64
 7   actor1           4909 non-null   object
 8   actor1_fb        4909 non-null   float64
 9   actor2           4903 non-null   object
 10  actor2_fb        4903 non-null   float64
 11  actor3           4893 non-null   object
 12  actor3_fb        4893 non-null   float64
 13  gross            4054 non-null   float64
 14  genres           4916 non-null   object
 15  num_reviews      4867 non-null   float64
 16  num_voted_users  4916 non-null   int64
 17  plot_keywords    4764 non-null   object
 18  language         4904 non-null   object
 19  country          4911 non-null   object
 20  budget           4432 non-null   float64
 21  imdb_score       4916 non-null   float64
dtypes: float64(10), int64(1), object(11)
memory usage: 845.1+ KB

In [8]:
employee.isnull().sum()

title          0
dept           0
salary       102
race          20
gender         0
hire_date      0
dtype: int64

In [9]:
movie.isnull().sum()

title                0
year               106
color               19
content_rating     300
duration            15
director_name      102
director_fb        102
actor1               7
actor1_fb            7
actor2              13
actor2_fb           13
actor3              23
actor3_fb           23
gross              862
genres               0
num_reviews         49
num_voted_users      0
plot_keywords      152
language            12
country              5
budget             484
imdb_score           0
dtype: int64

In [10]:
employee.describe().T

,count,mean,std,min,25%,50%,75%,max
salary,1551.0,56094.973565,20346.10328,24960.0,41932.5,55461.0,66614.0,210588.0

In [11]:
movie.describe().T

,count,mean,std,min,25%,50%,75%,max
year,4810.0,2.002448e+03,1.245398e+01,1916.0,1999.00,2005.0,2011.00,2.016000e+03
duration,4901.0,1.070908e+02,2.528602e+01,7.0,93.00,103.0,118.00,5.110000e+02
director_fb,4814.0,6.910145e+02,2.832954e+03,0.0,7.00,48.0,189.75,2.300000e+04
actor1_fb,4909.0,6.494488e+03,1.510699e+04,0.0,607.00,982.0,11000.00,6.400000e+05
actor2_fb,4903.0,1.621924e+03,4.011300e+03,0.0,277.00,593.0,912.00,1.370000e+05
actor3_fb,4893.0,6.312763e+02,1.625875e+03,0.0,132.00,366.0,633.00,2.300000e+04
gross,4054.0,4.764451e+07,6.737255e+07,162.0,5019656.25,25043962.0,61108412.75,7.605058e+08
num_reviews,4867.0,1.379889e+02,1.202394e+02,1.0,49.00,108.0,191.00,8.130000e+02
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.0,8361.75,33132.5,93772.75,1.689764e+06
budget,4432.0,3.654749e+07,1.002427e+08,218.0,6000000.00,19850000.0,43000000.00,4.200000e+09
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.6,5.80,6.6,7.20,9.500000e+00

**1.In movie.csv, Select the year,content rating and duration for all movies between "The Lion king" and "The Little prince".**

In [12]:
lion_king_index = movie[movie['title'] == 'The Lion King'].index[0]
little_prince_index = movie[movie['title'] == 'The Little Prince'].index[0]

selected_movie = movie.loc[lion_king_index:little_prince_index, ['year', 'content_rating', 'duration']]

print(selected_movie)

       year content_rating  duration
503  1994.0              G      73.0
504  2012.0             PG      94.0
505  2013.0             PG      95.0
506  2002.0              R     124.0
507  2004.0          PG-13     136.0
508  2011.0             PG      91.0
509  2003.0          PG-13     107.0
510  2015.0             PG     108.0

In [13]:
# movie names between index 503 to 510
a = movie.loc[503:510]
print(a['title'])

503                          The Lion King
504       Journey 2: The Mysterious Island
505    Cloudy with a Chance of Meatballs 2
506                             Red Dragon
507                                Hidalgo
508                          Jack and Jill
509                       2 Fast 2 Furious
510                      The Little Prince
Name: title, dtype: object

**2. In employee.csv , Select every 100th row starting from the first row.**

In [14]:
selected_rows = employee.iloc[::100]
print(selected_rows)

                                       title                            dept  \
0                             POLICE OFFICER   Houston Police Department-HPD
100               FIRE FIGHTER, PROBATIONARY   Houston Fire Department (HFD)
200        TECHNICAL  HARDWARE  ANALYST  III   Houston Police Department-HPD
300                           POLICE OFFICER   Houston Police Department-HPD
400                        ENGINEER/OPERATOR   Houston Fire Department (HFD)
500        SENIOR INVENTORY MANAGEMENT CLERK  Public Works & Engineering-PWE
600                           POLICE OFFICER   Houston Police Department-HPD
700   SURVEILLANCE INVESTIGATOR-EPIDEMIOLOGY         Health & Human Services
800            SENIOR POLICE SERVICE OFFICER   Houston Police Department-HPD
900                             FIRE FIGHTER   Houston Fire Department (HFD)
1000                SENIOR COMMUNITY LIAISON   Houston Police Department-HPD
1100              SENIOR DATA ENTRY OPERATOR  Public Works & Engineering-PWE
1200                           STAFF ANALYST    Houston Airport System (HAS)
1300                            FIRE FIGHTER   Houston Fire Department (HFD)
1400                        FIELD SUPERVISOR              Parks & Recreation
1500                       POLICE LIEUTENANT   Houston Police Department-HPD
1600                          POLICE OFFICER   Houston Police Department-HPD

       salary      race  gender   hire_date
0     45279.0     White    Male  2015-02-03
100   40170.0     Black    Male  2015-07-20
200   62338.0     Asian    Male  2013-06-03
300   50621.0     White    Male  2010-05-24
400   61921.0     White    Male  2006-09-11
500   29765.0     White    Male  2003-09-02
600   52514.0  Hispanic    Male  2009-06-22
700   46384.0     Black  Female  1991-12-30
800   30888.0     White    Male  2005-09-12
900   55437.0     White    Male  2002-05-20
1000  65416.0     White    Male  2007-11-05
1100  29453.0  Hispanic  Female  2007-10-22
1200  73065.0  Hispanic    Male  2002-03-05
1300  43528.0  Hispanic    Male  2014-09-27
1400  38147.0     Black    Male  1999-11-16
1500  91181.0     White    Male  1994-12-30
1600  55461.0     White    Male  2009-05-04

**3. In employee.csv, Return the first 10 employee hired from March 1, 2010.**

In [15]:
selected_employee = employee[employee['hire_date'] >= '2010-03-01'].head(10)
print(selected_employee)

                                title                            dept  \
0                      POLICE OFFICER   Houston Police Department-HPD
3                            ENGINEER  Public Works & Engineering-PWE
4                           CARPENTER    Houston Airport System (HAS)
6      AIRPORT OPERATIONS COORDINATOR    Houston Airport System (HAS)
9   CUSTOMER SERVICE REPRESENTATIVE I  Public Works & Engineering-PWE
18                          INSPECTOR  Public Works & Engineering-PWE
20                     POLICE OFFICER   Houston Police Department-HPD
25                     UTILITY WORKER  Public Works & Engineering-PWE
27               FIRE FIGHTER TRAINEE   Houston Fire Department (HFD)
34                       FIRE FIGHTER   Houston Fire Department (HFD)

     salary      race gender   hire_date
0   45279.0     White   Male  2015-02-03
3   71680.0     Asian   Male  2012-03-26
4   42390.0     White   Male  2013-11-04
6   44616.0       NaN   Male  2016-03-14
9   30347.0     Black   Male  2015-11-16
18  43264.0     Black   Male  2015-01-05
20  52514.0     Black   Male  2010-03-29
25  29557.0     Black   Male  2014-01-21
27  28024.0       NaN   Male  2016-03-14
34  43528.0  Hispanic   Male  2014-06-21

**4. Return the top employee of each department by salary, just return department, title and salary.**

In [16]:
top_employee = employee.groupby('dept')[['dept', 'title', 'salary']].apply(lambda x: x.nlargest(1, 'salary')).reset_index(drop=True)
print(top_employee)

                             dept                                     title  \
0         Health & Human Services                        CHIEF PHYSICIAN,MD
1    Houston Airport System (HAS)         DEPUTY DIRECTOR-AVIATION (EX LVL)
2   Houston Fire Department (HFD)       ASSOCIATE EMS PHYSICIAN DIRECTOR,MD
3   Houston Police Department-HPD  DEPUTY DIRECTOR-FINANCE & ADMINISTRATION
4              Parks & Recreation                          DIVISION MANAGER
5  Public Works & Engineering-PWE   DEPUTY DIRECTOR-PUBLIC WORKS (EXECUTIVE

     salary
0  180416.0
1  186192.0
2  210588.0
3  199596.0
4   85055.0
5  178331.0

**5.Return the Median salary for all employee hired from Jan 1,2010.**

In [17]:
filtered_employee = employee[employee['hire_date'] >= '2010-01-01']
median_salary = filtered_employee['salary'].median()
print(median_salary)

43443.0

**6.Return a series of number of employee hired each August. Place the year in index and sort by year.**

In [18]:
employee['hire_date'] = pd.to_datetime(employee['hire_date'])
august_hires = employee[employee['hire_date'].dt.month == 8]['hire_date'].dt.year.value_counts().sort_index()

# If you want to display the series with the year as the index:
print(august_hires)

1971    1
1979    2
1980    5
1982    1
1983    1
1985    1
1987    1
1989    1
1990    1
1991    9
1992    8
1993    6
1994    7
1995    3
1997    8
1998    9
1999    4
2000    4
2001    3
2002    3
2004    7
2005    5
2006    9
2007    9
2008    5
2009    4
2011    3
2012    2
2013    6
2014    1
2015    6
Name: hire_date, dtype: int64

**7.Return the number of employee from Police department, that do not have the word "police" in their title, ignore case.**

In [19]:
police_count = employee[(employee['dept'] == 'Police') & (~employee['title'].str.contains('police', case=False))].shape[0]
print(police_count)

0

**8.Which Gender and Race combination appears the most in this dataset ? Return sex,race and count as a three item tuple.**

In [20]:
most_common_combination = employee.groupby(['gender', 'race']).size().idxmax()
count = employee.groupby(['gender', 'race']).size().max()

most_common_combination_with_count = (*most_common_combination, count)
print(most_common_combination_with_count)

('Male', 'White', 522)

**9.Return a dataframe in strictly increasing salaries, without changing the row order, but filtering such that the employee who does not have salary greater than employee above them.**

In [21]:
increasing_salaries = employee[employee['salary'].diff() > 0]
print(increasing_salaries)

                                         title  \
1                            ENGINEER/OPERATOR
2                        SENIOR POLICE OFFICER
3                                     ENGINEER
5     DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV
7                                 FIRE FIGHTER
...                                        ...
1644                  MOBILITY SERVICE OFFICER
1646                           POLICE SERGEANT
1647                            POLICE CAPTAIN
1649                    COMMUNICATIONS CAPTAIN
1651                            POLICE OFFICER

                                dept    salary      race  gender  hire_date
1      Houston Fire Department (HFD)   63166.0     White    Male 1982-02-08
2      Houston Police Department-HPD   66614.0     Black    Male 1984-11-26
3     Public Works & Engineering-PWE   71680.0     Asian    Male 2012-03-26
5     Public Works & Engineering-PWE  107962.0     White    Male 1993-11-15
7      Houston Fire Department (HFD)   52644.0  Hispanic    Male 2007-05-21
...                              ...       ...       ...     ...        ...
1644   Houston Police Department-HPD   44429.0  Hispanic  Female 2005-09-12
1646   Houston Police Department-HPD   81239.0     White    Male 1982-05-03
1647   Houston Police Department-HPD  104455.0     Black    Male 1983-02-07
1649   Houston Fire Department (HFD)   66523.0     Black    Male 2003-09-02
1651   Houston Police Department-HPD   55461.0     Asian    Male 2009-01-20

[721 rows x 6 columns]

**10.For each department, find the average % of employee that have word "Senior" in their title, ignore the case, return the series with department as index.**

In [22]:
employee['is_senior'] = employee['title'].str.contains('senior', case=False)
avg_senior_percentage = employee.groupby('dept')['is_senior'].mean()
print(avg_senior_percentage)

dept
Health & Human Services           0.212963
Houston Airport System (HAS)      0.047170
Houston Fire Department (HFD)     0.057292
Houston Police Department-HPD     0.377743
Parks & Recreation                0.040541
Public Works & Engineering-PWE    0.128280
Name: is_senior, dtype: float64

**11.Find the percentage of employee gender per department.**

In [23]:
percentage_by_gender_per_department = employee.groupby(['dept', 'gender']).size() / employee.groupby('dept').size() * 100
print(f"{percentage_by_gender_per_department}")

dept                            gender
Health & Human Services         Female    75.925926
                                Male      24.074074
Houston Airport System (HAS)    Female    33.962264
                                Male      66.037736
Houston Fire Department (HFD)   Female     5.468750
                                Male      94.531250
Houston Police Department-HPD   Female    24.294671
                                Male      75.705329
Parks & Recreation              Female    31.081081
                                Male      68.918919
Public Works & Engineering-PWE  Female    31.486880
                                Male      68.513120
dtype: float64